/* Tarjetas del equipo */
.team-section {
  text-align: center;
    margin-bottom: 80px;

}

.team-section h2 {
  color: #DE8CA2;
  margin-bottom: 20px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 0 20px;
  margin-bottom: 80px;

.team-card {
  background-color: #ffffff;
  border: 2px solid #F5D1DD;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 350px;
  text-align: center;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: scale(1.02);
}
.team-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.team-card h3 {
  margin: 0.5rem 0;
  color: #EA9696;
}

.team-card p {
  font-size: 0.95rem;
  color: #444;
}

/* Responsividad */
@media (max-width: 600px) {

  .about-section,
  .team-section {
    padding: 0 10px;
  }
  .content{
    margin: 0px 0%;
  padding: 10px;
  }
}
/* Contenedor de flip */
.flip-card {
  perspective: 1000px;
  cursor: pointer;
  padding: 0;
  height: 320px;
  position: relative;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}


/* Caras */
.flip-front,
.flip-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #fff;
  border: 2px solid #F5D1DD;
  border-radius: 12px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.flip-back {
  transform: rotateY(180deg);
}

/* Imagen */
.flip-front img,
.flip-back img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Texto */
.flip-front h3,
.flip-back h3 {
  margin: 0.5rem 0;
  color: #EA9696;
}
.flip-front p,
.flip-back p {
  font-size: 0.95rem;
  color: #444;
}
}